* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero-section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header {
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  height: 40vh;
  border: 2px solid red;
  background-color: rgb(190, 35, 35);
  z-index: 10;
}
.logo img {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
}
.main-header .navbar {
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; /* Ensures it sits high above the video background */
  
  /* Flexbox automatically spreads the logo and links out */
  display: flex;
  justify-content: space-between; 
  align-items: center;
  
  padding: 20px 40px;
  background: rgba(166, 25, 25, 0.9);
}
.navbar nav ul {
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.navbar nav ul li a {
 color: #ffffff;
  text-decoration: none;
  margin-left: 24px;
  font-size: 1rem;
  transition: opacity 0.3s ease;
}
.navbar .contact a{
    color: white;
    list-style: none;
    text-decoration: none;
}
.background-video{
    position: absolute;
}